{{template "header" .}}

    <div class="container">
        <div class="align-middle">
                <h1>This page doesn't exist</h1> 
                <p>The page that you are trying to access doesn't exist!</p>
        </div>
    </div>

    {{template "footer" .}}
