{{template "header_new" .}}


<div class="container">
  <div class="row">
    {{if eq .userPermissions.CanCreateContacts "true"}}
<br>
  <div class="margin-md">
    <br>
    <button type="button" onclick="makeEditable()" id="editItemBtn" class="btn btn-primary">Edit</button> 
    <button type="button" onclick="saveChanges('Contact')" style="display: none;" id="saveChangesBtn" class="btn btn-primary">Save</button>
    <button id="myBtn" class="btn btn-danger" onclick="showRemoveModal()">Remove</button>
    <br>

 </div>
 <br>
 {{end}}
      <div class="col margin-m mt-4">
         <h1><div class="editable" id="name">{{.name}}</div></h1>
         <p>Date Created: {{.created_at}}</p>
         <p>Email: <span class="editable" id="email">{{.email}}</span></p>
         <p>ID: <span id="objectId">{{.contact_id}}</span></p>
         <p>Customer: <a href="/customers/{{.customer_id}}">{{.customer_name}}</p></a>
      </div>
  </div>

  <div id="myModal" class="modal margin-md">

    <!-- Modal content -->
    <div class="modal-content margin-md">
      <p>Are you sure that you want to remove this contact?></p>
      <button type="button" onclick="deleteItem('{{.contact_id}}', 'Contact')" class="btn btn-danger btn-sm">Remove</button>
      <button type="button" id="cancelRemove" class="btn btn-primary btn-sm">Cancel</button> 

    </div>
  
  </div>
</div>


<script>
const updatedValues = new Map();

// const updatedValues = new Map();
// function makeEditable(){
//   $("#saveChangesBtn").toggle();
//   $(".editable").each(function() {
//     console.log($(this).attr("contenteditable"))
  
//       if($(this).attr("contenteditable") != "true"){
//         $(this).attr("contenteditable", "true");
//         $("#editItemBtn").html("Cancel");
//         $(this).toggleClass( "editElementActive" );
//         $(this).on('DOMSubtreeModified', $(this), function() {
//           key = $(this).attr('id');
//           value = $(this).html();
//           updatedValues[key] = value;
//       });
//       }
//      else{
//         $("#editItemBtn").html("Edit");
//         $(this).attr("contenteditable", "false");
//         $(this).toggleClass( "editElementActive" );


//     }
//     });
// }
// function deleteItem(itemId){
//   const requestOptions = {
//     method: "POST",
//     headers: { "Content-Type": "application/json" },
//     body: JSON.stringify({ID: itemId, type: "Contact"}),
//   };
//   fetch("/delete", requestOptions)
//   .then(res => res.json()) // expecting a json response
//         .then(json => {
//            console.log(json)
//            window.location.href = "/contacts/";
//           });
//         }


// function saveChanges(){
//   makeEditable();
//   customerId = $("#customerName").data("customer");
//   updatedValues["type"] = "Contact"
//   updatedValues["id"] = $("#id").html();
//   const requestOptions = {
//     method: "POST",
//     headers: { "Content-Type": "application/json" },
//     body: JSON.stringify(updatedValues),
//   };
//   fetch("/update", requestOptions)
//   .then(res => res.json()) // expecting a json response
//         .then(json => {
//            console.log(json)
//           });
//         }

</script>
<style>

</style>
    {{template "footer_new" .}}

