{{template "header" .}}

    <div class="container">
        <div class="align-middle">
                <h1>No permission!</h1> 
                <p>Your account doesn't have a permission to create a new {{.name}}</p>
                <p>Contact your system administrator.</p>
        </div>
    </div>

    {{template "footer" .}}
