{{template "header" .}}

    <div class="container">
    {{if eq .userPermissions.CanCreateContacts "true"}}
    <br>
      <div class="margin-md">
         <a href="tickets/new"><button type="button" class="btn btn-primary">New Ticket</button></a>
     </div>
     <br>

     {{end}}
     
      <div class="list-group margin-md">
        {{range $key, $value := .tickets}}
             <a href="/tickets/{{$key}}" class="list-group-item list-group-item-action">[{{$key}}] {{$value.Name}}</a>
        {{end}}
    </div>




 </div>

    {{template "footer" .}}
