{{template "header" .}}

    <div class="container">
        <div class="align-middle">
                <h1>Unauthorized</h1> 
                <p>You need to log in to access this page!</p>
                <a href="/login">LOG IN</a> now!
        </div>
    </div>

    {{template "footer" .}}
